 
:root {
  --main-bg: #1e1e1e;
  --main-txt: #ffffff;
  --header-bg: #272727;
  --scrollbar-bg: #ffffff;
  --a-txt: #ffffff;
  --divider-bg: #3b3b3b;
  --input-bg: #313131;
  --accent: #0066ff;
  --accent-hover: #0d6eff;
}



.push { /* pushes flexbox child to the right */
  margin-left: auto !important;
}

/* custom styles for default elements */
h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal !important;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

a, a:visited {
  color: var(--a-txt);
}

body {
  background-color: var(--main-bg);
  color: var(--main-txt);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  border: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  /*overflow-y: scroll;*/
  cursor: default;
  width: 100vw;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.hidden {
  display: none !important;
}

.divider {
  border-top: 1px solid var(--divider-bg);
  width: 100vw;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2.sectionheader {
  font-size: 1.75em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.funny {
  position: relative;
  width: 45em;
  max-height: calc(45em * 0.69444444444);
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.funny img {
  width: inherit;
  max-width: 80vw;
}

.funny .text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.funny h2 {
  width: auto;
  height: auto;
  max-width: 90%;
  font-size: 1.75em;
  text-wrap: wrap;
  font-weight: 700 !important;
}

.inputs {
  display: flex;
  max-width: 90vw;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

input {
  color: var(--main-txt);
  background-color: var(--input-bg);
  border: 1px solid var(--divider-bg);
  padding: 5px;
  font-size: 1.5em;
  border-radius: 10px;
}

input[type="color"] {
  height: 1.5em;
}

.slider {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
}

.slider::-webkit-slider-runnable-track {
  background-color: var(--input-bg);
  border-radius: 10px;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--main-txt);
  height: 1em;
  width: 1em;
  border-radius: 50%;
  cursor: pointer;
}

.background-choose {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.bg-choose {
  width: 17.5em;
  border-radius: 20px;
  cursor: pointer;
}

.template {
  display: none;
}

.button {
  background-color: var(--accent);
  display: inline-block;
  font-size: 1.5em;
  padding: 0.3em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 250ms;
}

.button:hover {
  background-color: var(--accent-hover);
}